*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color:rgb(49, 48, 48) ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#nav {
    height: 50px;
    width: 100%;
    background-color: #DEE5D4;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

#home {
    height: 35px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 5px ;
    font-weight: 550;
    
}


h1 {
    text-align: center;
    margin-top: 10px;
    color: #DEE5D4;
}

p{
    text-align: center;
    margin-top: 22px;
    color: #f4f7f0;
}

#num {
    margin-top: 35px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#input {
    height: 33px;
    width: 190px;
    border: none;
    border-radius: 5px;
}

.btn {
display: flex;
justify-content: center;
}

#btn {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
}

#button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
    display: none;
}